
@{
    ViewBag.Title = "BuyErr";
}

<h2 class="p-3" style="        text-align: center;
        color: red;
        margin-top: 20%;
">
    Not all fields was filled or not all fields was filled corectly
</h2>
<h2 class="p-3" style="text-align:center;"><a href="FilmAdd">Back to form</a></h2>