
@{
    ViewBag.Title = "BuyGood";
}

<h2 class="p-3" style="        text-align: center;
        color: green;
        margin-top: 20%;
">
    Your offer is very important for us
</h2>
<p class="p-4" style="        text-align: center;
        color: green;
        margin-top: 20%;
">
    You can get your tickets in our cash register with sayin the last 3 numbers of your phone number
</p>



