
@{
    ViewBag.Title = "LoginGood";
}

<div style="margin-top:150px;" tabindex="-1" aria-labelledby="exampleModalCenteredLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Logination done</h5>
            </div>
                <div class="modal-body">
                    <p style="text-align:center;">Welcome back @ViewBag.User.Surname @ViewBag.User.Name</p>
                </div>
            <div  style="text-align: center;" class="modal-footer">
                <a class="btn btn-secondary" href="../Admin/Index">Start your work</a>
            </div>


        </div>
    </div>
</div>



