
@{
    ViewBag.Title = "RegistrDone";
}

<h2 class="p-3" style="        text-align: center;color: green;margin-top: 20%;">
    Successful registration
</h2>
<h2 class="p-3" style="text-align:center;"><a href="Login">Log in now</a></h2>

