
@{
    ViewBag.Title = "RegistrErr1";
}

<div style="margin-top:100px;" tabindex="-1" aria-labelledby="exampleModalCenteredLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Fill this registration form</h5>
                <h6 class="modal-title" id="exampleModalCenteredLabel">Not all fields are filled</h6>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group k">
                        <label for="Name">Name</label>
                        <input style="border:1px solid red;" name="Name" type="text" class="form-control" id="Name" placeholder="Your Name">
                        <input type="hidden" name="DateOfCreation" value="@DateTime.Now" />
                    </div>
                    <div class="form-group k">
                        <label for="Surname">Surname</label>
                        <input style="border:1px solid red;" name="Surname" type="text" class="form-control" id="Surname" placeholder="Your Surname">
                    </div>
                    <div class="form-group k">
                        <label for="Code">Code word of worker</label>
                        <input style="border:1px solid red;" name="Code" type="text" class="form-control" id="Code" placeholder="Your Code">
                    </div>
                    <div class="form-group k">
                        <label for="Login">Login</label>
                        <input style="border:1px solid red;" name="Login" type="text" class="form-control" id="Login" placeholder="Your Login">
                    </div>
                    <div class="form-group k">
                        <label for="Password">Password</label>
                        <input style="border:1px solid red;" name="Password" type="password" class="form-control" id="Password" placeholder="Your Password">
                    </div>
                </div>
                <p style="text-align:center;">Do you already have an account? <a href="Login">Log in now</a></p>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="Index">Close</a>
                    <button type="submit" class="btn btn-primary mb-2">Registr</button>
                </div>
            </form>

        </div>
    </div>
</div>

