
@{
    ViewBag.Title = "AddSessErr1";
}

<h2 class="p-3" style="        text-align: center;
        color: red;
        margin-top: 20%;
">
    Time of session can't be less then now
</h2>
<h2 class="p-3" style="text-align:center;"><a href="SessionAdd">Back to form</a></h2>

