
@{
    ViewBag.Title = "ChangeStatus";
}

<div style="margin-top:150px;" tabindex="-1" aria-labelledby="exampleModalCenteredLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Status change</h5>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">Status was changed successfully</p>
            </div>
            <div style="text-align: center;" class="modal-footer">
                <a class="btn btn-primary" href="../Orders">Continue work</a>
            </div>


        </div>
    </div>
</div>

